
<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <app-nav-menu-ci></app-nav-menu-ci>
    </div>
    <div class='col-sm-9 body-content'>

      <video autoplay muted loop id="vid">
        <source src="../../../assets/videos/ciber-seguridad.mp4" type="video/mp4" />
      </video>

      <main>
        <h1> <b> CIUDADANO </b> </h1>
        <p>
          Bienvenido al sistema web de protección y seguridad ciudadana. Puedes navegar en el menú de tu lado izquierda.
        </p>
      </main>

    </div>
  </div>
</div>
