
<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <app-nav-menu-ci></app-nav-menu-ci>
    </div>
    <div class='col-sm-9 body-content'>

      <video autoplay loop id="vid">
        <source src="../../../assets/videos/ciuPortada1.mp4" />
      </video>

      <main>
        <h1> <b> CIUDADANO </b> </h1>
        <p>
          Bienvenido al sistema web de protección y seguridad ciudadana. Puedes navegar en menu lateral o superiror si te encuentras en un dispositivo móvil.
        </p>
      </main>

    </div>
  </div>
</div>
