<!DOCTYPE html>
<html>
<head>
  <title> Perfil </title>
</head>
<body>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-sm-3'>
        <app-nav-menu-sa></app-nav-menu-sa>
      </div>
      <div class='col-sm-9 body-content'>
        <h1> <b> PERFIL </b> </h1>
        <form (ngSubmit)="profileSuperAdmin()">

          <label> Nombre </label>
          <div>
            <span class="icon-user" id="logo"></span>
            <input type="text" id="text" name="name" class="form-control" [(ngModel)]="name" required />
          </div>

          <br>

          <label> Correo electronico </label>
          <div>
            <span class="icon-envelop" id="logo"></span>
            <input type="text" id="text" name="email" class="form-control" [(ngModel)]="email" required />
          </div>

          <br>

          <label> Contraseña </label>
          <div>
            <span class="icon-eye" id="logo"></span>
            <input type="text" id="text" name="pass" class="form-control" [(ngModel)]="pass" required />
          </div>

          <br>
          <input type="submit" value="Actualizar datos" class="btn btn-success" required />
        </form>
        <br />

      </div>
     
    </div>
  
  </div>
 
</body>
</html>
