
<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <app-nav-menu-ci></app-nav-menu-ci>
    </div>
    <div class='col-sm-9 body-content'>
      <h1>{{ title }}</h1>
        <agm-map [latitude]="19.1653" [longitude]="-96.1143" [zoom]="14">
          <agm-circle *ngFor="let i of d"
                      [latitude]="i.latitud"
                      [longitude]="i.longitud"
                      [fillOpacity]=".2"
                      [radius]="100"
                      [fillColor]="'red'"
                      [circleDraggable]="false">
            <agm-marker *ngFor="let i of d"
                        [latitude]="i.latitud"
                        [longitude]="i.longitud">
              <agm-info-window>
                <strong> Dirección: [{{ i.direccion }}] </strong>
                <strong>  Código: [{{ i.idCodigo }}] </strong>
              </agm-info-window>
            </agm-marker>
          </agm-circle>
        </agm-map>
      <div>
        <br />
        <p>
          Aqui se muestran los delitos recabados de denuncias de la ciudadania.
        </p>
      </div>
    </div>
  </div>
</div>
